# ENVs for Convex
BETTER_AUTH_SECRET=xxx # openssl rand -base64 32
SITE_URL=http://localhost:3000

# ENVs for the Frontend
CONVEX_DEPLOYMENT=dev:something-something-123
VITE_CONVEX_URL=https://something-something-123.convex.cloud
VITE_CONVEX_SITE_URL=https://something-something-123.convex.site
VITE_SITE_URL=http://localhost:3000
